@import '../../variables.scss';

.Upload {
  background: url("../../assets/imgs/upload_bgAlt.png") no-repeat center center;
  min-height: 100vh;
}

.Upload__logo {
  width: 124px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.Upload__videoBadge {
  display: block;
  margin: 0 auto;
  z-index: 100;
  margin-bottom: -32px;
}

.Upload__videoInfoContainer {
  text-align: center;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 64px;
  padding-bottom: 96px;
  z-index: -100;
}

.Upload__videoInfoCaption {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}

.Upload__videoContainer {
  width: 55%;
  padding: 16px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: $tailwind-shadow-xl;
  z-index: 100;
  margin-top: -96px;
  background-color: white;
  height: 200px;
  word-wrap: break-word;
}

.Upload__video {
  text-align: center;
  border: 2px $primary-color dashed;
  border-radius: 8px;
  color: $primary-color;
  height: 168px;
  word-wrap: break-word;
}

.Upload__videoText {
  font-weight: bold;
  margin-top: 32px;
}

.Upload__videoBrowse, .Upload__audioBrowse {
  margin-bottom: 32px;
}

.Upload__audioBadge {
  display: block;
  margin: 0 auto;
  z-index: 100;
  margin-bottom: -32px;
}

.Upload__audioInfoContainer {
  text-align: center;
  padding-left: 64px;
  padding-right: 64px;
  background-color: #f0f3f6;
  padding-top: 64px;
  padding-bottom: 96px;
}

.Upload__audioInfoCaption {
  font-weight: bold;
  font-size: 24px;
  color: $primary-color;
  margin-bottom: 8px;
}

.Upload__audioContainer {
  width: 55%;
  padding: 16px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: $tailwind-shadow-xl;
  z-index: 100;
  margin-top: -96px;
  background-color: white;
  height: 200px;
  word-wrap: break-word;
}

.Upload__audio {
  text-align: center;
  border: 2px $primary-color dashed;
  border-radius: 8px;
  color: $primary-color;
  height: 168px;
}

.Upload__audioText {
  font-weight: bold;
  margin-top: 32px;
}

.Upload__loading {
  display: block;
  margin: 0 auto;
  width: 4%;
  margin-top: 64px;
}

.Upload__drop {
  font-weight: bold;
  margin-top: 64px;
}

.Upload__fileName {
  margin-top: 24px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.Upload__errorImage {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.Upload__errorTitle {
  margin-top: 16px;
  font-weight: bold;
  font-family: "Product Sans";
  text-align: center;
}

.Upload__errorMessage {
  padding-left: 64px;
  padding-right: 64px;
  font-family: "Product Sans";
  font-size: 16px;
}

.Upload__errorList {
  padding-left: 96px;
  padding-right: 64px;
  font-family: "Product Sans";
  font-size: 16px;
}